<script src="/js/generated/routes.js"></script>
<script src="/js/state.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/oversight-shared.js"></script>
<script src="/js/markdown.js"></script>
<script src="/js/theme.js"></script>
<script src="/js/api.js"></script>
<script src="/js/tasks.js"></script>
<script src="/js/render.js"></script>
<script src="/js/search.js"></script>
<script src="/js/modal-ansi.js"></script>
<script src="/js/modal-ndjson.js"></script>
<script src="/js/modal-diff.js"></script>
<script src="/js/time-map.js"></script>
<script src="/js/modal-results.js"></script>
<script src="/js/modal-oversight.js"></script>
<script src="/js/modal-logs.js"></script>
<script src="/js/modal-flamegraph.js"></script>
<script src="/js/modal-core.js"></script>
<script src="/js/git.js"></script>
<script src="/js/dnd.js"></script>
<script src="/js/envconfig.js"></script>
<script src="/js/instructions.js"></script>
<script src="/js/templates.js"></script>
<script src="/js/containers.js"></script>
<script src="/js/usage-stats.js"></script>
<script src="/js/span-stats.js"></script>
<script src="/js/modal-stats.js"></script>
<script src="/js/refine.js"></script>
<script src="/js/ideate.js"></script>
<script src="/js/dep-graph.js"></script>
<script src="/js/trash-bin.js"></script>
<script src="/js/events.js"></script>
<script src="/js/mention.js"></script>
<script src="/js/command-palette.js"></script>
